# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pytest
.cache
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyright/microsoft python language server
typings/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Logs
*.log

# IDEs
.idea/
*.iml

# Local config
*.local

# YAML/secret files (if you use them for local config)
*.secret.yaml
*.secret.yml

# Ignore test output
test-output/